<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>MvcMemberFormServlet</display-name>
    <servlet-name>MvcMemberFormServlet</servlet-name>
    <servlet-class>mvcModel2.MvcMemberFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcMemberFormServlet</servlet-name>
    <url-pattern>/MvcMemberFormServlet</url-pattern>
  </servlet-mapping>
  <display-name>mvcModel2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MvcMemberSaveServlet</display-name>
    <servlet-name>MvcMemberSaveServlet</servlet-name>
    <servlet-class>mvcModel2.MvcMemberSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcMemberSaveServlet</servlet-name>
    <url-pattern>/MvcMemberSaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MvcMemberListServlet</display-name>
    <servlet-name>MvcMemberListServlet</servlet-name>
    <servlet-class>mvcModel2.MvcMemberListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MvcMemberListServlet</servlet-name>
    <url-pattern>/MvcMemberListServlet</url-pattern>
  </servlet-mapping>
</web-app>